@import "../../styles/utils/mixins";
@import "/src/styles/global.scss";

.hero {
  &-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-socials {
    display: flex;
    gap: VW(160);
    position: absolute;
    top: 18%;
    color: $c-black;
    opacity: 50%;
    font-size: VW(30);
  }

  &-social {
  }

  &__content {
    display: flex;
    margin: 0 auto;
    padding: 4vw;
    text-align: center;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    font-size: VW(60);
  }

  &__logo {
    width: VW(1796);
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
