@import "../../../styles//utils/mixins";
@import "/src/styles/global.scss";

.advantages {
  &-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-socials {
    display: flex;
    gap: VW(160);
    position: absolute;
    top: 18%;
    color: $c-black;
    opacity: 50%;
    font-size: VW(30);
  }

  &__content {
    display: flex;
    margin: 0 auto;
    padding: 4vw;
    text-align: center;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    text-transform: uppercase;
    max-width: VW(850);
    & span {
      display: flex;
      justify-content: flex-end;
    }
  }
  &-slider {
    width: 85%;
  }
}
