@import "../../../styles//utils/mixins";
@import "/src/styles/global.scss";

.advantages {
  &-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
  }

  &-background {
    object-position: 60% 60%;
  }

  &-image {
    position: absolute;
    width: 34.959375vw;
    height: 59.460417vw;
    right: 10%;
    top: -10%;
    transform: rotate(14.52deg);
    z-index: 3;

    @include forMobile {
      width: 89.9933vw;
      height: 73.6906vh;
      top: -20%;
      right: 0;
    }
  }

  &__content {
    display: flex;
    margin: 0 auto;
    padding: 4vw;
    text-align: center;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    @include forMobile {
      margin-top: 55vw;
    }
  }

  &__title {
    text-transform: uppercase;
    max-width: VW(850);
    padding: 0px 4vw;
    @include forMobile {
      display: flex;
      max-width: 100%;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      font-size: 8vw;
    }

    & span {
      display: flex;
      justify-content: flex-end;
    }
  }
  &-slider {
    padding: 0 3.2vw;
    width: 85%;
  }

  &-line {
    display: none;
    position: absolute;
    top: 82%;
    z-index: 1;
    width: 100%;

    @include forMobile {
      height: 10%;
      top: 90%;
    }
  }
}
