@import "../../styles/utils//mixins";
@import "/src/styles/global.scss";
@import "/src/styles/utils//typography";

.form {
  display: flex;
  flex-direction: column;
  width: VW(593);
  position: absolute;
  top: 35%;
  left: 4%;
  @include forMobile {
    position: relative;
    width: 100%;
    align-items: center;
    top: 10vw;
    left: 0;
  }

  &-name {
    margin-left: VW(167);
    @include forMobile {
      margin-left: 0;
    }
  }
  &-phone {
    margin-left: VW(114);
    @include forMobile {
      margin-left: 0;
    }
  }

  .error-message {
    display: none;
    color: red;
    margin-top: 5px;
  }

  &-button {
    height: VW(303);
    position: fixed;
    text-transform: uppercase;
    font-weight: 900;
    color: #ff0000;
    font-size: VW(101);
    right: 3%;
    top: 46%;
    & img {
      @include forMobile {
        width: 30vw;
        height: 30vw;
        font-size: 10vw;
      }
    }
    @include forMobile {
      height: 30vw;
      width: 100%;
      position: absolute;
      display: flex;
      flex-direction: row;
      font-size: 10vw;
      align-items: flex-end;
      justify-content: center;
      top: 130%;
      gap: 6vw;
    }

    &:hover {
    }
  }
}

input {
  background: none;
  height: VW(118);
  width: VW(424);
  padding: 0 VW(8);
  padding-left: VW(60);
  margin-top: 5px !important;
  margin-bottom: 10px !important;
  box-sizing: border-box;
  border-bottom: VW(11) solid $c-black;
  border-width: 0 0 VW(11) 0;
  font-size: VW(60);
  &.input-error {
    border-bottom: VW(11) solid $c-red;
  }
  @include forMobile {
    border-bottom: 1.3vw solid $c-black;
    padding-left: 0;
    height: 14vw;
    width: 68vw;
  }

  &::placeholder {
    display: flex;
    color: rgba(0, 0, 0, 0.1);
    font-size: VW(70);
    @include forMobile {
      text-align: center;
      font-size: 8vw;
    }
  }
  &:focus {
    outline: none;
    border-color: none;
  }
  &.selector {
    margin-left: VW(0);
    width: VW(539);
    &.input-error {
      border-bottom: VW(11) solid $c-red;
    }
    @include forMobile {
      width: 68vw;
    }
  }
}
