@font-face {
  font-family: Benzin;
  src: url("/public/font/Benzin/Benzin-ExtraBold.ttf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("/public/font/Inter/Inter-Black.ttf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("/public/font/Inter/Inter-ExtraBold.ttf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("/public/font/Inter/Inter-Light.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  src: url("/public/font/Inter/Inter-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  src: url("/public/font/Inter/Inter-SemiBold.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
