@import "./mixins";

%h1 {
  font-family: Benzin, sans-serif;
  font-size: 2.8vw;
  font-style: normal;
  font-weight: 800;
  line-height: 142%;
  text-transform: uppercase;
  letter-spacing: normal;

  @include forMobile {
    font-size: 9.4vw;
  }
}

.big-text {
  font-family: Benzin, sans-serif;
  font-size: 4.7vw;
  font-style: bold;
  line-height: 90%;
  text-transform: uppercase;
  letter-spacing: normal;

  @include forMobile {
    font-size: 11vw;
  }
}

%h2 {
  font-family: Benzin, sans-serif;
  font-size: VW(72);
  font-style: bold;
  font-weight: 800;
  line-height: normal;
  letter-spacing: normal;

  // &:hover {
  //   filter: blur(0.4vw);
  // }

  @include forMobile {
    font-size: 8vw;
  }
}

%h3 {
  font-family: Inter, sans-serif;
  font-size: VW(149);
  font-style: bold;
  font-weight: 800;
  line-height: normal;
  letter-spacing: normal;

  @include forMobile {
    font-size: 19.744vw;
  }
}

%h4 {
  font-family: Inter, sans-serif;
  font-size: VW(20);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.06vw;

  @include forMobile {
    letter-spacing: -0.4vw;
    font-size: 2.7vw;
  }
}

%body-text {
  font-family: Inter, sans-serif;
  font-size: VW(18);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.06vw;

  @include forMobile {
    letter-spacing: -0.4vw;
    font-size: 4vw;
  }
}

%link {
  @extend %body-text;
}

.bold {
  font-weight: 900;
}

.upperCase {
  text-transform: uppercase
}

body {
  @extend %body-text;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}
h4 {
  @extend %h4;
}

a {
  @extend %link;
}
