@import "/src/styles/global.scss";

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 5vw;
  justify-content: space-between;
  z-index: 10;
  padding: 3vw 4vw 0 4vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  @include forMobile {
    height: 14vw;
    justify-content: space-between;
    padding: 0 6.3vw;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 1.8vw;
    height: 100%;

    @include forMobile {
      display: none;
    }
  }

  &__logo {
    height: 90%;
    position: relative;
    z-index: 100;

    @include forMobile {
      width: 14.7vw;
      height: 13.5vw;
    }
  }

  &__list-links {
    display: flex;
    align-items: center;
    gap: 10vw;

    @include forMobile {
      display: none;
    }
  }

  &__link {
    color: $c-red;
    font-size: 1.2vw;
    padding: 0.5vw 0.7vw;
    position: relative;
    z-index: 1;

    & > span {
      position: relative;
      z-index: 1;
    }
  }

  &__nav {
    display: none;

    @include forMobile {
      display: block;
    }
  }

  &-trans {
    display: flex;
    flex-direction: column;
    & button {
      color: $c-red;
      &.active {
        font-weight: bold;
        color: #ff0000;
      }
    }

    & span {
      border-bottom: 1px solid $c-red;
      display: inline-block;
      margin: VW(12) 0;
    }
  }
}
