@import "/src/styles/utils/mixins";
@import "/src/styles/global.scss";

.hero {
  &-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
  }

  &-background {
    object-position: 60% 60%;
  }

  &-image {
    position: absolute;
    width: VW(1044);
    height: VW(1855);
    right: 12%;

    @include forMobile {
      width: 100%;
      height: 100%;
      right: 0;

      top: -34vw;
      object-position: 60% 60%;
    }
  }

  &-socials {
    display: flex;
    gap: VW(160);
    position: absolute;
    top: 18%;
    color: $c-black;
    opacity: 50%;
    font-size: VW(30);
    @include forMobile {
      position: relative;
      font-size: 4vw;
      margin-bottom: 8vw;
    }
  }

  &-social {
  }

  &__content {
    display: flex;
    margin: 0 auto;
    padding: 4vw;
    text-align: center;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    @include forMobile {
      align-items: center;
      position: relative;
      top: 24%;
    }
  }

  &__title {
    font-size: VW(60);
    @include forMobile {
      margin-bottom: 4vw;
      font-size: 8vw;
    }
  }

  &__logo {
    width: VW(1779);
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include forMobile {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }

    &:hover {
      filter: blur(0.4vw);
    }
  }
}
