@import "../../../styles//utils/mixins";
@import "/src/styles/global.scss";

.contact {
  &-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f2f2f2;
  }

  &-background {
    object-position: 60% 60%;
  }

  &-image {
    position: absolute;
    width: VW(752);
    height: VW(1088);
    transform: rotate(-32.54deg);
    top: 5%;
    right: 0;

    @include forMobile {
      width: 83.57vw;
      height: 55.8vh;
      right: 0;
      top: -5vw;
    }
  }

  &-socials {
    display: flex;
    flex-direction: column;
    gap: VW(1);
    color: $c-black;
  }

  &__content {
    display: flex;
    padding: 4vw;
    text-align: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 10%;
    @include forMobile {
      position: absolute;
      left: 7%;
      bottom: 15%;
      top: auto;
    }
  }

  &-social {
    text-decoration: underline;
    font-size: VW(155);
    font-weight: 800;
    @include forMobile {
      font-size: 13.33333vw;
    }

    &:hover {
      filter: blur(0.4vw);
    }

    &.instagram {
    }
    &.behance {
      margin-left: VW(418);
    }
    &.dribbble {
      margin-left: VW(284);
      @include forMobile {
        margin-left: 0;
      }
    }
  }
}
