@import "../../../styles//utils/mixins";
@import "/src/styles/global.scss";

.about-team {
  &-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
  }

  &-background {
    z-index: 2;

    object-position: 60% 60%;
  }

  &-image {
    width: VW(564);
    height: VW(845);
    right: 12%;

    @include forMobile {
      position: absolute;

      width: 66.93vw;
      height: 43.35vh;

      top: 0;
      object-position: 60% 60%;
    }
  }

  &__content {
    display: flex;
    margin: 0 auto;
    padding: 4vw;
    text-align: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 4%;
    @include forMobile {
      margin-top: 82vw;
      left: 0;
    }
  }

  &__title {
    line-height: 88%;
    margin-bottom: VW(44);
    font-size: VW(160);
    max-width: VW(1000);
    @include forMobile {
      margin-bottom: 6vw;
      max-width: 100%;
    }
  }
  &__text {
    letter-spacing: 0.1rem;
    width: 60%;
    @include forMobile {
      letter-spacing: 0;
      width: 100%;
    }
  }
}
